section {
  margin-bottom: 2em;
}

.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 0.2em;
}

.Clickable {
  cursor: pointer;
  color: var(--primary);

  &:hover {
    text-decoration: underline;
    color: var(--primaryDark);
  }
}

h1 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  color: var(--text3);
  font-weight: 30;
}