.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.5em;
  margin: 1em;
}

@media screen and (min-width: 900px) {
  .Container {
    margin: 3em;
  }
}
