.LinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 4em;
  max-height: 4em;
}

.LinkContainer .linked {
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  color: var(--text1);
  text-decoration: none;
  transition: transform 0.3s ease-in-out;

  &:hover {
    color: var(--text2);
    transform: scale(1.1);
  }

  &.background {
    background-color: var(--backgroundLayer1);
    border-radius: 1em 3em 1em 3em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    }
  }
}

.Image {
  background-color: var(--background);
  width: 2em;
  padding: 0.4em;
  border-radius: 0.5em 0.2em;
  cursor: pointer;
}