h1 {
  margin-bottom: 0.2em;
}

.Container {
  margin: 5%;
}

.Badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.Experiences {
  display: block;
}

p {
  margin: 0;
  margin-bottom: 1em;
  text-align: justify;
}

a.Moneyger {
  color: var(--moneyger);
}


@media screen and (min-width: 900px) {
  .Container {
    margin: 3em;
  }
  
  .Experiences {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    grid-template-rows: masonry;
    gap: 3em;
  }
}
