h1 {
  margin-bottom: 0.2em;
  text-align: center;
}

.Centered {
  text-align: center;
  margin-bottom: 2em;
}

h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: center;
}

.Container {
  margin: 5%;
}

.Badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.Experiences {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

p {
  margin: 0;
  margin-bottom: 1em;
  text-align: justify;
}

a.Moneyger {
  color: var(--moneyger);
}


@media screen and (min-width: 800px) {
  .Container {
    margin: 3em;
  }
  
  .Experiences {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31em, 1fr));
    grid-template-rows: masonry;
    gap: 2em;
  }

  .DescriptionContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}

.ButtonList {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.DescriptionContainer {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 1.5em;
  background-color: var(--backgroundLayer1);
  border-radius: 2em 5em 2em 5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 2em;
}

.moneyger {
  color: var(--moneyger);
}